/*--- main tages---*/
body {
  margin: 0;
  margin-top: 0;
  line-height: 23px;
  font-size: 1.2rem;
  font-family: 'Hind Vadodara', sans-serif;
}
header{
  display:flex;
  justify-content: center;
}
h2{
  margin: 0;
  margin-top: 20px;
}
section{
  height: 20vh;
  width: auto;
}
/*Id's*/
#title{
  position: relative;
  left: 32%;
}
/*class's*/
.container {
  padding: 0 15px;
  width:70%;
  margin: 0 auto;
 }
.Profile-Img{
 width: 400px;
 height: 300px;
}
.Cover {
  background-color: aquamarine;
}
/*--- clearfix--*/
.clearfix::after {
   content: "";
   clear: both;
}
/*--- media querys--*/
